.Bubble h2 {
  font-weight: 400;
  font-size: 1.5rem;
}

.Bubble p {
    font-size: 18px;
    padding-top: 1rem;
    line-height: 2.2rem;
    color: #555555;
}
.Bubble-container.left, .Bubble-container.right {
  margin: auto;
  padding: 0 2rem;
}
.Bubble-container.left {
  background-color: #2A363B;
  padding-top: 8rem;
}
.Bubble-container.left.bottom {
  background-color: #2A363B;
  padding-top: 0;
  padding-bottom: 7rem;
}
.Bubble-container.left p,
.Bubble-container.left h1,
.Bubble-container.left h2 {
  color: white;
}
.Bubble-container.right {
  background-color: white;
}


.Bubble {
  max-width: 1000px;
  margin: auto;
  border: 1px solid #2A363B;
  padding: 1rem;
  padding-top: 4rem;
  padding-bottom: 4rem;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  vertical-align: middle;
}

.Bubble.right {
  border: none;
  border-right: 1px solid #2A363B;
  border-left: 1px solid #2A363B;
  padding: 7rem 2rem;
}
.Bubble.left {
  border: none;
  border-right: 1px solid white;
  border-left: 1px solid white;
  padding: 7rem 2rem;
}
.Bubble.left.top {
  border: none;
  border-right: 1px solid white;
  border-left: 1px solid white;
  border-top: 1px solid white;
}
.Bubble.left.bottom {
  border: none;
  border: 1px solid white;
  border-top: none;
}

.Bubble-image {
  box-shadow: 0px 25px 20px -9px rgba(0,0,0,0.1);
  overflow: hidden;
  border-radius: 5px;
  width: 150px;
  height: 150px;
  margin-right: 5rem;
  margin-left: 10rem;
  flex-shrink: 0;
}
.Bubble-image.right {
  margin-right: 5rem;
  margin-left: 0rem;
}
.Bubble-image.left {
  margin-right: 5rem;
  margin-left: 0;
}

.Bubble img {
  max-height: 200px;
}
.Bubble-info {
  max-width: 500px;
  flex-grow: auto;
}
.Bubble-info.right {
  /* margin-left: 10rem; */
}

@media only screen and (max-width: 925px) {
  .Bubble-container {
    padding: 3rem 2rem;
    padding-top: 0;
    padding-bottom: 0;
  }

  .Bubble-image {
      margin-left: 0rem;
      margin-right: 3rem;
  }
  .Bubble-image.right {
      /* margin-left: 3rem; */
      /* margin-right: 0rem; */
  }
  .Bubble-info.right {
      margin-left: 0rem;
      margin-right: 0rem;
  }
}
@media only screen and (max-width: 600px) {
  .Bubble-container {
    margin: auto;
    padding: 2rem;
    /* border: 1px solid blue; */
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    vertical-align: middle;
  }
  .Bubble {
    width: 100%;
    text-align: left;
  }
  .Bubble.left p,
  .Bubble.left h1,
  .Bubble.left h2
   {
    text-align: left;
  }
  .Bubble.right p,
  .Bubble.right h1,
  .Bubble.right h2
   {
    text-align: left;
  }

  .Bubble-image {
    margin-right: 0;
    margin-bottom: 2rem;
    box-shadow: none;
    display: none;
  }

  .Bubble-image.right {
    display: none;
    margin-right: 0;
    margin-bottom: 2rem;
    box-shadow: none;
  }
  .Bubble-info {
    text-align: center;
  }

}
