.Contact-container {
  border-left: .5rem solid #2A363B;
  border-right: .5rem solid #2A363B;
  padding: 4rem 0;
  padding-bottom: 3rem;
}
.Contact {
  margin: auto;
  text-align: center;
  border-bottom: 1px solid #2A363B;
  max-width: 800px;
  padding: 3rem 5rem;
  padding-bottom: 5rem;
}
.Contact p {
  font-size: 18px;
  padding-top: 1rem;
  line-height: 2.2rem;
  color: #2A363B;
}
@media only screen and (max-width: 925px) {
  .Contact {
    border-top: none;
    border-bottom: none;
  }
}
