.Contact {
  border-top: 1px solid #91d8b5;
  border-bottom: 1px solid #91d8b5;
  margin: auto;
  text-align: center;
  max-width: 800px;
  padding: 5rem 5rem;
  margin-top: 2rem;
  margin-bottom: 3rem;
  padding-top: 5rem;
}
.Contact p {
  font-size: 18px;
  padding-top: 1rem;
  line-height: 2.2rem;
  color: #555555;
}
@media only screen and (max-width: 925px) {
  .Contact {
    border-top: none;
    border-bottom: none;
  }
}
