@import url('https://fonts.googleapis.com/css?family=Abril+Fatface|Oleo+Script|Signika|Nunito:300,400,700&display=swap');
/*
----COLORS
#F1EDD0
#CDE9CA
#A0CAB5  / Sat++ #91d8b5
#55443D
#F38A8A

----FONTS
font-family: 'Abril Fatface', cursive;
font-family: 'Oleo Script', cursive;
*/
h1 {
  font-family: 'Oleo Script', cursive;
  font-size: 5rem !important;
  color: #91d8b5;
  /* text-shadow: 2px 2px #55443D; */
}
h2 {
  font-family: 'Nunito', sans-serif;
  color: #91d8b5;
}

h3 {
  font-family: 'Nunito', sans-serif;
  font-weight: 700;
  color: #91d8b5;

}
.Home-container {
  background-color: #CDE9CA;
  height: 100%;
  padding: 1rem;
}

.Home {
  background-color: white;
  height: 100%;
  display: flex;
  flex-direction: column;
  padding-top: 15rem;
  padding-bottom: 15rem;
}
.Home-name {
  font-size: 5rem;
  text-align: center;
}

.Home-intro {
  color: #91d8b5;
  color: #555555;
  font-family: 'Nunito', sans-serif;
  font-size: 1.5rem;
  max-width: 52%;
  line-height: 2rem;
  align-items: center;
  text-align: center;
  margin: 2rem auto;
  flex-direction: row;
}
.intro-profile {
  max-height: 125px;
}
  .intro-profile img {
    max-height: 125px;
    border-radius: 50%;
    filter: hue-rotate(120deg);
    filter: hue-rotate(120deg) grayscale(.7) brightness(1.2);
  }

.intro-info {
  max-width: 70%;
  margin: auto;
  margin-top: 2rem;
  margin-bottom: 4rem;
  text-align: center;
}
.Home-content {
  margin: auto 25%;
  height: auto;
  margin-top: 10rem;
  /* background-color: #CDE9CA; */
  display: flex;
  flex-direction: row;
}
/* Component break here */


.Home-project-info {
  border-radius: 5px;
  flex-grow: auto;
}

.tag {
  border-radius: 5px 5px 0 0;
  text-align: center;
  color: white;
  margin-left: 70%;
  width: 30%;
  background-color: #91d8b5;
}
.Home-project {
  min-width: 350px;
  height: 195px;
  border-radius: 5px;
  /* background-color: #F1EDD0; */
  margin-right: 3rem;
  box-shadow: 0px 25px 20px -9px rgba(0,0,0,0.1);
  flex: auto;
}

.box {
  overflow: hidden;
  border-radius: 5px 5px 5px 5px;
  max-width: 350px;
}

.box img {
  width: 100%;
  border-radius: 5px;
}

.Home-project-info h2 {
  font-size: 40px;
  color: #91d8b5;
  font-family: 'Abril Fatface', cursive;
  font-family: 'Nunito', sans-serif;
  font-family: 'Oleo Script', cursive;
  font-weight: 300;
}
.Home-project-info h3 {
  font-size: 25px;
  color: #91d8b5;
  font-weight: 500;
}

.Home-project-info p {
  font-size: 18px;
  padding-top: 1rem;
  line-height: 2.2rem;
  color: #555555;
}
.Home-nav {
  padding-top: 2.5rem;
  padding-right: 3.5rem;
  display: flex;
  flex-direction: row;
  align-items: flex-end;
  justify-content:flex-end;
}

.Home-nav h2 {
  margin-left: 5rem;
  font-size: 22px;
}
.Home-content-ral {
  margin: auto 25%;
  height: auto;
  margin-top: 10rem;
  /* background-color: #CDE9CA; */
  display: flex;
  flex-direction: row;
}
/* Component break here */


.Home-project-info-ral {
  border-radius: 5px;
  flex-grow: auto;
}

.tag-ral {
  border-radius: 5px 5px 0 0;
  text-align: center;
  color: white;
  margin-left: 70%;
  width: 30%;
  background-color: #91d8b5;
}
.Home-project-ral {
  min-width: 350px;
  height: 195px;
  border-radius: 5px;
  /* background-color: #F1EDD0; */
  margin-right: 3rem;
  box-shadow: 0px 25px 20px -9px rgba(0,0,0,0.1);
  flex: auto;
}

.box-ral {
  overflow: hidden;
  border-radius: 5px 5px 5px 5px;
  max-width: 350px;
}

.box-ral img {
  width: 100%;
  border-radius: 5px;
}

.Home-project-info-ral h2 {
  font-size: 40px;
  color: #91d8b5;
  font-family: 'Abril Fatface', cursive;
  font-family: 'Nunito', sans-serif;
  font-family: 'Oleo Script', cursive;
  font-weight: 300;
}
.Home-project-info-ral h3 {
  font-size: 25px;
  color: #91d8b5;
  font-weight: 500;
}

.Home-project-info-ral p {
  font-size: 18px;
  padding-top: 1rem;
  line-height: 2.2rem;
  color: #555555;
}
