.FooterComponent-container {
  display: flex;
  border: .5rem solid #2A363B;
  border-top: none;
}
.FooterComponent {
  margin: auto;
  list-style: none;
  text-align: center;
  color: #2A363B;
  font-size: .85rem;
  padding:0;
  padding-bottom: 2rem;
}
