@import url('https://fonts.googleapis.com/css?family=Abril+Fatface|Oleo+Script|Signika|Nunito:300,400,700&display=swap');
/*
----COLORS
#F1EDD0
#CDE9CA
#A0CAB5  / Sat++ #91d8b5
#55443D
#F38A8A

----FONTS
font-family: 'Abril Fatface', cursive;
font-family: 'Oleo Script', cursive;
*/
/* font-family: 'Nunito', sans-serif; */

.Home {
  background-color: #65AC92;
  height: 100%;
  padding: 1rem;
}
.Home-content {
  background-color: white;
  width: 100%;
  height: 100%;
}
