@import url('https://fonts.googleapis.com/css?family=Abril+Fatface|Oleo+Script|Signika|Nunito:300,400,700&display=swap');
/*
----COLORS
#F1EDD0
#CDE9CA
#A0CAB5  / Sat++ #91d8b5
#55443D
#F38A8A

----FONTS
font-family: 'Abril Fatface', cursive;
font-family: 'Oleo Script', cursive;
*/
/* font-family: 'Nunito', sans-serif; */
h1 {
  font-family: 'Oleo Script', cursive;
  color: #2A363B;
  /* text-shadow: 2px 2px #55443D; */
}
h2 {
  font-family: 'Nunito', sans-serif;
  color: #2A363B;
}

h3 {
  font-family: 'Nunito', sans-serif;
  font-weight: 700;
  color: #2A363B;
}

.Home {
  height: 100%;
}
.Home-content {
  background-color: #FAFAFA;
  width: 100%;
  height: 100%;
}
