.Title h1 {
  font-size: 5rem;
}
.Title-border {
  background-color: #2A363B;
}
.Title-container {
  border-left: .5rem solid #2A363B;
  border-right: .5rem solid #2A363B;
  padding: 2rem;
  padding-bottom: 6rem;
  /* min-height: 300px; */
  max-height: 800px;
}
.Title {
  min-height: 500px;
  max-width: 1000px;
  padding: 3rem 1rem;
  margin: auto;
  border: 1px solid #2A363B;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.Title-name {
  text-align: center;
  margin-bottom: 3rem;
  color: #2A363B;
}

.Title-blurb {
  color: #2A363B;
  font-family: 'Nunito', sans-serif;
  font-size: 1.25rem;
  line-height: 2rem;
  margin: 0 20%;
  text-align: center;
}

@media only screen and (max-width: 650px) {
  .Title h1 {
    font-size: 3rem;
  }
  .Title h2 {
    font-size: 1.5rem;
  }
  .Title-blurb {
    font-size: 1.25rem;
    line-height: 2rem;
  }
  .Title {
    padding-bottom: 5rem;
    min-height: auto;
  }
}

@media only screen and (max-width: 500px) {
  .Title {
    margin: 0;
    padding: 1rem 3rem;
    margin-top: 3rem;
    text-align: left;
    display: inline-block;
  }
  .Title-name {
    margin: 1rem 0;
    font-size: 2rem;
    text-align: left;
  }
  .Title-blurb {
    font-size: 1.1rem;
    margin: 0;
    text-align: left;
  }
}
