.Title h1 {
  font-size: 5rem;
}

.Title {
  max-width: 800px;
  height: 100%;
  min-height: 650px;
  margin: auto;
  /* border: 1px solid red; */
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  padding-bottom: 5rem;
}

.Title-name {
  text-align: center;
  margin: 4rem;
}

.Title-blurb {
  color: #555555;
  font-family: 'Nunito', sans-serif;
  font-size: 1.5rem;
  line-height: 2rem;
  margin: 0 20%;
  text-align: center;
}

@media only screen and (max-width: 650px) {
  .Title h1 {
    font-size: 3rem;
  }
  .Title h2 {
    font-size: 1.5rem;
  }
  .Title-blurb {
    font-size: 1.25rem;
    line-height: 2rem;
  }
}

@media only screen and (max-width: 450px) {
  .Title {
    padding: 1rem;
  }
  .Title-name {
    margin: 1rem;
    font-size: 2rem;
  }
  .Title-blurb {
    font-size: 1.1rem;
    margin: 0 .5rem;
  }
}
